.my-payment{
    width: 90%;
    height: auto;
    background-color: white;
    margin: 15px auto;
    color: #fed136;
}

.my-payment-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* outline: auto; */
  
  }
  .payment-status-details{
      /* background-color: aqua; */
      width: 250px;
      height: 300px;
      /* outline: auto; */
      /* display: inline-block; */
      margin-right: 20px;
      
  }
  .payment-status{
      width: 100%;
      box-sizing: border-box;
      height: 50px;
      background-color: #a9dff8;
      color: #386f7c;
      border-radius: 7px;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: 10PX;
      
  }
  
  
  
  .invoice{
      /* display: inline-block; */
      color: black;
      width: 50%;
      height: fit-content;
      padding-top: 10px;
      padding-left: 10px;
      border: 1px solid black;
      border-radius: 5px;
  }

  .earning-details{
    padding-left: 10px;
    width:250px;
    color:  black;
    /* outline: auto; */
    /* background-color: #386f7c; */
  }
  .earning-details h3{
    margin-bottom: 10px ;
  }
  .active-task p{
      /* text-align: center; */
      padding-top: 7px;
      padding-left: 10px;
      font-size: 17px;
      /* font-weight: 600; */
  }
  
  
  .current{
      background-color: #386f7c;
      color: white;
      
  }

  @media screen and (max-width: 768px) {
    .earning-details{
        border-top: 1px solid black ;
    }
  }